.centered {
	width: 400px;
	height: 400px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: #000;
	filter: contrast(20);
	border-radius: 20px;
	box-shadow: #fff;
}
.centered::before {
	content: "";
	position: absolute;
	top: -10px;
	left: -10px;
	right: -10px;
	bottom: -10px;
	background: inherit;
	z-index: -1;
	filter: blur(10px);
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
.centered h1 {
	position: absolute;
	bottom: 20%;
	width: 100%;
	text-align: center;
	color: #fff;
	z-index: 1;
}
.blob1,
.blob2 {
	width: 70px;
	height: 70px;
	position: absolute;
	background: #fff;
	border-radius: 50%;

	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	filter: blur(5px);
}
.blob1 {
	left: 20%;
	animation: osc-l 2.5s ease infinite;
}
.blob2 {
	left: 80%;
	animation: osc-r 2.5s ease infinite;
	background: linear-gradient(45deg, #fc466b, #3f5efb);
}
@keyframes osc-l {
	0% {
		left: 20%;
	}
	50% {
		left: 50%;
	}
	100% {
		left: 20%;
	}
}
@keyframes osc-r {
	0% {
		left: 80%;
	}
	50% {
		left: 50%;
	}
	100% {
		left: 80%;
	}
}

.spanClass::before {
	content: "Building website";
	animation: animate infinite 20s;
	padding-left: 10px;
	position: absolute;
	bottom: 20%;
	width: 100%;
	text-align: center;
	color: #fff;
	z-index: 1;
	font-size: 2em;
}

@keyframes animate {
	0% {
		content: "Adding Styling";
	}

	20% {
		content: "Building the Backend";
	}

	40% {
		content: "Fixing the Front end";
	}

	60% {
		content: "Getting coffee";
	}

	80% {
		content: "Fixing bugs";
	}
}
