$white: rgba(255, 255, 255, 0.3);

.container {
	position: absolute;
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
	z-index: 4;
}

.button {
	background: transparent;
	width: 50%;
	padding: 1em;
	margin-bottom: 2em;
	margin-top: 10px;
	border: none;
	border-left: 1px solid $white;
	border-top: 1px solid $white;
	border-radius: 5000px;
	backdrop-filter: blur(5px);
	box-shadow: 4px 4px 60px rgba(0, 0, 0, 0.2);
	color: black;
	font-family: Montserrat, sans-serif;
	font-weight: 500;
	transition: all 0.2s ease-in-out;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
	&1 {
		margin-top: 5em;
		margin-left: 9em;
		align-items: center;
	}
	&2 {
		margin-top: 5em;

		align-items: center;
	}
}

.drop {
	background: $white;
	backdrop-filter: blur(10px);
	border-radius: 10px;
	border-left: 1px solid $white;
	border-top: 1px solid $white;
	box-shadow: 10px 10px 60px -8px rgba(0, 0, 0, 0.2);
	position: absolute;
	transition: all 0.2s ease;

	&1 {
		height: 80px;
		width: 80px;
		top: -20px;
		left: -40px;
		z-index: -1;
	}

	&2 {
		height: 80px;
		width: 80px;
		bottom: -10px;
		right: -30px;
	}

	&3 {
		height: 80px;
		width: 80px;
		bottom: 120px;
		right: -50px;
		z-index: -1;
	}

	&4 {
		height: 80px;
		width: 80px;
		top: -30px;
		right: -30px;
	}

	&5 {
		height: 60px;
		width: 60px;
		bottom: 170px;
		left: 50px;
		z-index: -1;
	}
}

.url {
	color: black;
	padding: 10px;
}

.blur {
	background: $white;
	padding: 3em;
	height: 500px;
	width: 100vh;
	border-radius: 20px;
	border-left: 1px solid $white;
	border-top: 1px solid $white;
	backdrop-filter: blur(10px);
	box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, 0.2);
	text-align: center;
	position: relative;
	transition: all 0.2s ease-in-out;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.main {
	background-color: black;

	&.text {
		color: white;
	}
}

.text {
	color: white;
	margin-top: 10px;
}

.text1 {
	@extend .text;
	margin-top: 20px;
}
.formText {
	font-size: 20px;
	margin: 0;
	padding: 0px;
	margin-bottom: 30px;
}

.row1 {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.inputTag {
	margin-right: 5px;
	width: 90%;
}

.radLabel {
	display: flex;
	border-radius: 100px;
	padding: 5px 20px;
	cursor: pointer;
	transition: 0.3s;
}

.radLabel:hover,
.radLabel:focus-within {
	background: hsla(0, 0%, 80%, 0.14);
}

.radInput {
	position: absolute;
	left: 0;
	top: 0;
	width: 1px;
	height: 1px;
	opacity: 0;
	visibility: hidden;
}

.radDesign {
	width: 22px;
	height: 22px;
	border-radius: 100px;
	background: linear-gradient(45deg, #fc466b, #3f5efb);
	position: relative;
}

.radDesign::before {
	content: "";
	display: inline-block;
	width: inherit;
	height: inherit;
	border-radius: inherit;
	background: hsl(0, 0%, 90%);
	transform: scale(1.1);
	transition: 0.3s;
}

.radInput:checked + .radDesign::before {
	transform: scale(0);
}

.radText {
	color: black;
	margin-left: 10px;
	letter-spacing: 3px;
	text-transform: uppercase;
	font-size: 18px;
	font-weight: 900;
	transition: 0.3s;
}

.radLabel1 {
	display: flex;
	border-radius: 100px;
	padding: 14px 16px;
	cursor: pointer;
	transition: 0.3s;
}

.radLabel1:hover,
.radLabel1:focus-within {
	background: none;
}
.radInput:checked ~ .radText {
	color: black;
}

.radioContainer {
	display: flex;
	flex-direction: row;
	place-content: center;
	margin: 0;
	box-sizing: border-box;
}

.colorInput {
	// Remove the duplicate properties and adjust as follows
	width: 30px !important; // Set the desired width
	height: 30px !important;
	height: 22px; // Set the desired height
	border-radius: 50%; // This will make it round
	border: 2px solid transparent; // Optional: sets a border, you can use $white if you want it to match other styles
	-webkit-appearance: none; // Removes the default styling
	outline: none;
	cursor: pointer;
	position: relative; // Adjust as needed, you may not need absolute positioning
	background-color: transparent; // Makes the input's background transparent
	z-index: 1; // Ensure this is above other elements if using absolute positioning
	margin-left: 10px;
	margin-top: -3px;
	&::-webkit-color-swatch-wrapper {
		padding: 0;
	}

	&::-webkit-color-swatch {
		border: none; // Removes the default border of the color swatch
		border-radius: 50%; // Makes the color swatch round
	}
}
